h1 Componentes
h2
  | Nombre:
  = current_user.type

= link_to('Ratones', root_path, {clas: ''})
= ' | '
= link_to('Reguladores', root_path, {clas: ''})
= ' | '
= link_to('Teclados', root_path, {clas: ''})
= ' | '
= link_to('Monitores', root_path, {clas: ''})
= ' | '
= link_to('CPU', root_path, {clas: ''})