
h1 = @cpu.marca
h1 = @cpu.modelo
h1 = @cpu.serial
h1 = @cpu.bien_nacional
h1 = @cpu.tarjeta_madre
h1 = @cpu.procesador
h1 = @cpu.memoria_ram
h1 = @cpu.disco_duro
h1 = @cpu.cdrom
h1 = @cpu.sistema_operativo
h1 = @cpu.en_red
h1 = @cpu.software_extra
h1 = @cpu.estatus_servicio
h1 = @cpu.tipo