h1 Main dashboard Es el manager
h2
  | Nombre:
  = current_user.type

= link_to('Solicitudes', solicituds_path, {clas: ''})
= ' | '
= link_to('Usuarios', applicants_path, {clas: ''})
= ' | '
= link_to('Analistas', analysts_path, {clas: ''})
= ' | '
= link_to('Equipos', root_path, {clas: ''})
= ' | '
= link_to('Componentes', componentes_path, {clas: ''})
= ' | '
= link_to('Impresoras', printers_path, {clas: ''})
= ' | '
= link_to('reportes', reports_path, {clas: ''})